In [ ]:
 # import pandas 
import pandas as pd

In [ ]:
import pandas as pd
# load data and reading
df=pd.read_csv("D:\guvi_1project\orders (1).csv")   
df

<>:3: SyntaxWarning: invalid escape sequence '\g'
<>:3: SyntaxWarning: invalid escape sequence '\g'
C:\Users\Admin\AppData\Local\Temp\ipykernel_9592\3184797956.py:3: SyntaxWarning: invalid escape sequence '\g'
  df=pd.read_csv("D:\guvi_1project\orders (1).csv")

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

In [ ]:
# This is useful for quickly checking the structure of your dataset.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order Id          9994 non-null   int64
 1   Order Date        9994 non-null   object
 2   Ship Mode         9993 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub Category      9994 non-null   object
 11  Product Id        9994 non-null   object
 12  cost price        9994 non-null   int64
 13  List Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount Percent  9994 non-null   int64
dtypes: int64(6), object(10)
memory usage: 1.2+ MB

In [ ]:
# used to check how many missing (Null) values each column has.
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [ ]:
# Remove duplicate rows from a DataFrame.
df.drop_duplicates(inplace=True)

In [ ]:
# renaming your DataFrame columns for consistency!
df.rename(columns={'Order Id':'order_id','Order Date':'Order_Date','Ship Mode':'Ship_Mode','Postal Code':'Postal_Code','Sub Category':'Sub_Category','Product Id':'Product_Id',
'cost price':'cost_price','List Price':'List_Price','Discount Percent':'Discount_Percent'},inplace=True)
df.head(5)

,order_id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [ ]:
# checking the percentage of missing values in each column.

df1 = (df.isnull().sum()/len(df))*100
df1[df1>0]

Ship_Mode    0.010006
dtype: float64

In [ ]:
# fill missing values in categorical columns using the mode

df["Ship_Mode"]=df["Ship_Mode"].fillna(df["Ship_Mode"].mode()[0])

In [11]:
df1 = (df.isnull().sum()/len(df))*100
df1[df1>0]

Series([], dtype: float64)

In [12]:
# new columns add discount , sale price , profit

df[' discount']=df['List_Price']*df['Discount_Percent']*.01
df['sale_price']=df['List_Price']-df[' discount']
df['profit']=df['sale_price']-df['cost_price']
df.head(5)

,order_id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   Order_Date        9994 non-null   object
 2   Ship_Mode         9994 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal_Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub_Category      9994 non-null   object
 11  Product_Id        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  List_Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount_Percent  9994 non-null   int64
 16   discount         9994 non-null   float64
 17  sale_price        9994 non-null   float64
 18  profit            9994 non-null   float64
dtypes: float64(3), int64(6), object(10)
memory usage: 1.4+ MB

In [ ]:
# converting your Order_Date column to a datetime data type

df['Order_Date']=pd.to_datetime(df['Order_Date'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   order_id          9994 non-null   int64
 1   Order_Date        9994 non-null   datetime64[ns]
 2   Ship_Mode         9994 non-null   object
 3   Segment           9994 non-null   object
 4   Country           9994 non-null   object
 5   City              9994 non-null   object
 6   State             9994 non-null   object
 7   Postal_Code       9994 non-null   int64
 8   Region            9994 non-null   object
 9   Category          9994 non-null   object
 10  Sub_Category      9994 non-null   object
 11  Product_Id        9994 non-null   object
 12  cost_price        9994 non-null   int64
 13  List_Price        9994 non-null   int64
 14  Quantity          9994 non-null   int64
 15  Discount_Percent  9994 non-null   int64
 16   discount         9994 non-null   float64
 17  sale_price        9994 non-null   float64
 18  profit            9994 non-null   float64
dtypes: datetime64[ns](1), float64(3), int64(6), object(9)
memory usage: 1.4+ MB

In [58]:
df

,order_id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [ ]:
# split the table like df1 and df2

df1=df.iloc[:,0:9+1]
df2=df.iloc[:,10:]

In [17]:
df1

,order_id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies
...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies

In [19]:
df2

,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent,discount,sale_price,profit
0,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...
9989,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [20]:
df2

,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent,discount,sale_price,profit
0,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...
9989,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [21]:
df2['order_id']=df1['order_id']

In [22]:
df2

,Sub_Category,Product_Id,cost_price,List_Price,Quantity,Discount_Percent,discount,sale_price,profit,order_id
0,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8,1
1,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1,2
2,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5,3
3,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8,4
4,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0,5
...,...,...,...,...,...,...,...,...,...,...
9989,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2,9990
9990,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4,9991
9991,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8,9992
9992,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9,9993
9993,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8,9994

In [23]:
print(df2.columns.tolist())

['Sub_Category', 'Product_Id', 'cost_price', 'List_Price', 'Quantity', 'Discount_Percent', ' discount', 'sale_price', 'profit', 'order_id']

In [24]:
df2.rename(columns={' discount':'discount'},inplace=True)

In [35]:
! pip install pandas sqlalchemy pymysql

Requirement already satisfied: pandas in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.3.1)
Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (2.0.41)
Requirement already satisfied: pymysql in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.1.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (3.2.3)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy) (4.14.1)
Requirement already satisfied: six>=1.5 in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [51]:
pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (2.0.43)
Requirement already satisfied: greenlet>=1 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\admin\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from sqlalchemy) (4.15.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [50]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: C:\Users\Admin\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [52]:
import sqlalchemy



from sqlalchemy import create_engine   

import pandas as pd
import pymysql

In [56]:
# table_1
user = 'root'
password = '#San4533t'
host = '127.0.0.1'      # or use your IP or domain
port = 3306           # default MySQL port
database = 'guvi_project1'

# Connection string
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Push DataFrame to MySQL table (replace if exists)
table_name = 'Retail_Order_1'
df1.to_sql(table_name, con=engine, index=False, if_exists='replace')

print("âœ… DataFrame pushed to MySQL successfully!")

âœ… DataFrame pushed to MySQL successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_9592\14939604.py:13: UserWarning: The provided table name 'Retail_Order_1' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df1.to_sql(table_name, con=engine, index=False, if_exists='replace')

In [57]:
# table_2
user = 'root'
password = '#San4533t'
host = '127.0.0.1'      # or use your IP or domain
port = 3306           # default MySQL port
database = 'guvi_project1'

# Connection string
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Push DataFrame to MySQL table (replace if exists)
table_name = 'Retail_Order_2'
df2.to_sql(table_name, con=engine, index=False, if_exists='replace')

print("âœ… DataFrame pushed to MySQL successfully!")

âœ… DataFrame pushed to MySQL successfully!

C:\Users\Admin\AppData\Local\Temp\ipykernel_9592\2992320991.py:13: UserWarning: The provided table name 'Retail_Order_2' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  df2.to_sql(table_name, con=engine, index=False, if_exists='replace')